body{
    background-color: cadetblue;
}

.ex1{
    background-color: darkcyan;
    width: 400px;
    height: 300px;
}

.div1{
    width: 680px;
    background-color: blue;
}

.div2{
    max-width: 680px;
    background-color: rgb(43, 255, 255);
}
