body{
    background-color: burlywood;
}

.ex1{
    background-color: darkolivegreen;
    border: 3px solid beige;
    outline-style: solid;
    outline-width: 10px;
    outline-color: aquamarine;
    width: 400px;
    margin: 30px auto;
}