body{
    background-color: darkslategray;
    color: beige;
}

.ex1{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: red;
}

.ex1 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}

.ex2{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    background-color: red;
}

.ex2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}

.ex3{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    background-color: red;
}

.ex3 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}

.ex4{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: red;
}

.ex4 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}

.ex5{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: red;
}

.ex5 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}

.ex{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    background-color: red;
}

.ex6 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: darkslategray;
}