body{
    background-color: gray;
}

.ex1{
    display: grid;
    padding: 5px;
    gap: 5px;
    background-color: white;
    grid-template-columns: repeat(3, auto);
}

.ex1 div{
    border: 1px solid black;
    height: 30px;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.ex2{
    display: grid;
    padding: 5px;
    gap: 5px;
    background-color: white;
    grid-template-columns: 200px 80px auto;
}

.ex2 div{
    border: 1px solid black;
    height: 30px;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.ex3{
    display: grid;
    padding: 5px;
    gap: 5px;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

.ex3 div{
    border: 1px solid black;
    height: 30px;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.ex4{
    display: grid;
    padding: 5px;
    gap: 5px;
    background-color: white;
    grid-template-columns: minmax(100px, 1fr) 150px 150px;
}

.ex4 div{
    border: 1px solid black;
    height: 30px;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

.ex5{
    display: grid;
    padding: 5px;
    gap: 5px;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 200px;
}

.ex5 div{
    border: 1px solid black;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
}

.ex6{
    display: grid;
    padding: 5px;
    column-gap: 20px;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
}

.ex6 div{
    border: 1px solid black;
    background-color: indigo;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
}

.ex7{
    display: grid;
    padding: 5px;
    row-gap: 40px;
    background-color: white;
    grid-template-columns: repeat(3, auto);
}

.ex7 div{
    border: 1px solid black;
    background-color: indigo;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    padding: 10px;
}

.ex8{
    display: grid;
    padding: 5px;
    gap: 40px;
    background-color: white;
    grid-template-columns: repeat(3, auto);
}

.ex8 div{
    border: 1px solid black;
    background-color: indigo;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    padding: 10px;
}

.ex9{
    display: grid;
    padding: 5px;
    gap: 10px 50px;
    background-color: white;
    grid-template-columns: repeat(3, auto);
}

.ex9 div{
    border: 1px solid black;
    background-color: indigo;
    text-align: center;
    align-content: center;
    font-family: sans-serif;
    padding: 10px;
}

