body {
  background-color: crimson;
  justify-items: center;
}

h1 {
  background-color: orange;
  color: orangered;
  border: 6px solid orangered;
  /*opacity: 0.5;*/
}

h2 {
  background-color: darkgoldenrod;
  color: darkgreen;
  border: 4px solid darkgreen;
  /* opacity: 0.5;*/
}

p {
  background-color: tomato;
  color: maroon;
  border: 3px solid maroon;
  /* opacity: 0.5;*/
}
